h1,h2{color:blue;font-size:20px;font-family: 'Nanum Pen Script', cursive;}
dt{color:blue;font-size:20px;font-family: 'Nmaum pen Script',cursive;}
dd{color:red;font-size:20px;font-family: 'Nmaum pen Script',cursive;}
