th{color:red;width:120px;height:35px;background-color:rgba(255,0,0,0.2);border-radius:5px 10px 15px 20px;}
td{color:blue;background-color:rgba(0,0,0,0.2);text-align:center;padding:20px}
.pink{color:pink;}
.jam{color:blue;background-color:}
.fl{font-size:1.25em}
